.App {
  display: block;
  justify-content: center;
  min-height: 1rem;
  padding: 20rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: brown;
  color: antiquewhite;
}

h2 {
  color: red;
  background-color: white;
}

ul {
  color: black;
  background-color: antiquewhite;
}
